.section-title {
  font-size: 34px;
  font-weight: 800;
  padding: 0 0 20px 0;
  font-family: 'Proxima Bold', Georgia, sans-serif;
}

.main-pause-play-btn {
  background: #1db954;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.user-song-item {
  list-style-type: none;
  border-bottom: 1px solid #666;
  display: flex;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.user-song-item:hover {
  background: rgb(51, 51, 51);
}

.active.user-song-item {
  color: #1db954;
  background: rgb(51, 51, 51);
}

.add-song {
	color: #fff;
}

.user-song-item:hover > .play-song {
  opacity: 1;
}

.song-title,
.song-title-header {
  width: 300px;
}

.song-album,
.song-album-header {
  width: 250px;
}

.song-artist,
.song-artist-header {
  width: 200px;
}

.song-added {
  width: 80px;
}

.song-title-header {
  margin-left: 60px;
}

.user-song-item .play-song {
  width: 40px;
  opacity: 0;
  text-align: center;
}

.user-song-item  .play-song .fa {
  font-size: 30px;
  position: relative;
  top: 5px;
  color: #ccc;
  cursor: pointer;
  -webkit-text-stroke: 2px rgb(24, 24, 24);
}

.play-song .fa:hover {
  color: #fff;
}

.song-title p,
.song-artist p,
.song-album p,
.song-length p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
  line-height: 42px;
}

.song-length,
.song-length-header {
	width: 60px;
}

.song-added,
.song-added-header {
	width: 80px;
}

.song-album,
.song-album-header {
	width: 210px;
}

.song-artist,
.song-artist-header {
	width: 180px;
}

.song-title,
.song-title-header {
	width: 250px;
}

.song-title-header p,
.song-artist-header p,
.song-album-header p,
.song-length-header p {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
  padding: 0 8px;
}

.song-length-header .fa-clock-o {
  font-size: 17px;
  color: #ccc;
}

.song-added-header {
  width: 80px;
  color: #ccc;
}

.song-header-container {
  display: flex;
  border-bottom: 1px solid #666;
  padding-bottom: 6px;
  margin-top: 20px;
}

.add-song {
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  width: 20px;
}

.add-song .fa {
  -webkit-text-stroke: 3px rgb(24, 24, 24);
}

.add-song .fa:hover {
  -webkit-text-stroke: 2px rgb(24, 24, 24);
}
