.volume-container {
  position: relative;
  top: -10px;
}

.volume {
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    background: #4CAF50;
    border-radius: 4px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volume:hover {
    opacity: 0.8;
    background: #4CAF50;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}
