.song-details {
  position: absolute;
  left: 20px;
  line-height: 22px;
}

.song-details .song-name {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #fff;
  font-size: 14px;
}

.song-details .artist-name {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  color: #aaa;
  font-size: 12px;
}

.song-controls {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

.forward,
.reverse,
.play-btn {
  padding: 0 5px;
  color: #bbb;
  cursor: pointer;
}

.reverse,
.forward {
  font-size: 16px;
}

.play-btn {
  position: relative;
  top: -4px;
  font-size: 30px;
}

.play-btn .fa {
  -webkit-text-stroke: 2px #222;
}

.song-progress-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.song-progress {
  width: 500px;
  height: 4px;
  background: #aaa;
  border-radius: 4px;
}

.song-expired {
  margin: 0;
  width: 100px;
  height: 4px;
  background: #1db954;
  border-radius: 4px;
}

.timer-start {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -5px;
}

.timer-end {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: 5px;
}
