.song-details {
    font-family: 'Proxima Thin', Georgia, sans-serif;
    position: absolute;
    left: 20px;
}

.song-details .song-name {
  color: #fff;
  font-size: 14px;
}

.song-details .artist-name {
    color: #aaa;
    font-size: 12px;
}

.song-controls {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

.forward,
.reverse,
.play-btn {
  font-size: 24px;
  padding: 0 5px;
  color: #bbb;
  cursor: pointer;
}

.song-progress-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.song-progress {
  width: 500px;
  height: 4px;
  background: #aaa;
  border-radius: 4px;
}

.song-expired {
  margin: 0;
  width: 100px;
  height: 4px;
  background: #eee;
  border-radius: 4px;
}

.timer-start {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -5px;
}

.timer-end {
  font-size: 12px;
  position: relative;
  top: -5px;
  left: 5px;
}
