.user-songs-container {
  position: relative;
  top: 80px;
}

.section-title {
  font-size: 34px;
  font-weight: 800;
  padding: 20px 0;
  font-family: 'Proxima Bold', Georgia, sans-serif;
}

.main-pause-play-btn {
  background: #1db954;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
}

.user-song-item {
  list-style-type: none;
  border-bottom: 1px solid #666;
  display: flex;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
}

.user-song-item:hover {
  background: #202020;
}

.user-song-item:hover > .play-song {
  opacity: 1;
}

.song-title,
.song-artist,
.song-album,
.song-title-header,
.song-artist-header,
.song-album-header {
  width: 250px;
}

.song-added {
  width: 80px;
}

.song-title-header {
  margin-left: 40px;
}

.play-song {
  width: 40px;
  opacity: 0;
  text-align: center;
}

.play-song .fa {
  font-size: 26px;
  position: relative;
  top: 5px;
  color: #ccc;
  cursor: pointer;
}

.play-song .fa:hover {
  color: #fff;
}

.song-title p,
.song-artist p,
.song-album p,
.song-length p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}

.song-title-header p,
.song-artist-header p,
.song-album-header p,
.song-length-header p {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
  padding: 0 8px;
}

.song-length-header .fa-clock-o {
  font-size: 15px;
  color: #ccc;
}

.song-added-header {
  width: 80px;
  color: #ccc;
}


.song-header-container {
  display: flex;
  border-bottom: 1px solid #666;
  padding-bottom: 6px;
  margin-top: 20px;
}
