.browse-headers {
  display: flex;
}

.browse-headers p {
  color: rgb(179, 179, 179);
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Proxima Thin', Georgia, sans-serif;
  letter-spacing: 1px;
  margin: 0 20px;
  cursor: pointer;
}

.browse-headers p:first-child {
  margin: 0 20px 0 0;
}

.browse-headers p:hover {
  color: #fff;
}

.playlist-image {
  width: 230px;
}

.playlist-title-container {
  display: flex;
}

.playlist-info-container {
  padding-left: 20px;
  position: relative;
  top: 75px;
}

.created-by {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  font-size: 13px;
  color: #aaa;
  padding: 8px 0;
}

.lighter-text {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #fff;
}

.playlist-text {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.header-title {
  font-size: 48px;
  padding: 3px 0 5px 0;
}

.browse-headers .active {
  position: relative;
}

.browse-headers .active:after {
  content: "";
  position: absolute;
  width: 35px;
  left: 50%;
  top: 22px;
  border-bottom: 2px solid #1db954;
  transform: translate(-50%, -50%);
}

.current-artist-header-container {
	display: flex;
}

.current-artist-image {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.current-artist-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
}

.current-artist-info p {
	text-transform: uppercase;
	font-family: 'Proxima Thin', Georgia, sans-serif;
	font-size: 13px;
}

.artist-button {
	margin-top: 20px;
	margin-left: 40px;
}
