.user-details-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  background: rgb(24, 24, 24);
}

.user-image {
  border-radius: 50%;
  height: 50px;
}

.user-name {
  color: #fff;
  position: relative;
  left: 10px;
  top: 15px;
}
