body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background: rgb(24, 24, 24);
    color: #fff;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgb(40, 40, 40);
  height: 80px;
  z-index: 2;
}

.app-container {
  display: flex;
  position: relative;
}

.left-side-section {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 180px;
  overflow-y: auto;
}

.main-section {
  width: 940px;
  position: relative;
  left: 200px;
  padding: 0 10px;
}
