body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background: #000;
    color: #fff;
}

.header {
  position: fixed;
  width: 840px;
  z-index: 1000;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #eee;
  height: 80px;
}

.app-container {
  display: flex;
  position: relative;
}

.main-section {
  width: 840px;
}
