.album-view-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.album-item {
  padding: 10px;
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 180px;
  cursor: pointer;
}

.album-image img {
  width: 100%;
}

.album-item img:hover {
  opacity: 0.5;
}
